
.sidebar {
  position: fixed;
  width: 220px;
}


.title {
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: #eee;
  border-bottom: 1px solid #222;
  background: #2a2a2a;
}

.nav li a {
  position: relative;
  display: block;
  cursor: pointer;
  padding: 15px 15px 15px 50px;
  font-size: 12px;
  color: #eee;
  text-decoration: none;
  border-bottom: 1px solid #222;
}

.nav li a:before {
  font: 14px fontawesome;
  position: absolute;
  top: 14px;
  left: 20px;
}

.nav li:nth-child(1) a:before { content: '\f00a'; }
.nav li:nth-child(2) a:before { content: '\f02d'; }
.nav li:nth-child(3) a:before { content: '\f02c'; }
.nav li:nth-child(4) a:before { content: '\f013'; }


.nav li a:hover {
  background: #444;
}

.nav li a.active {
  box-shadow: inset 5px 0 0 #5b5, inset 6px 0 0 #222;
  background: #444;
}
