


.leftPanel {
 //background-color: honeydew;
 // background-color: white;
 flex-basis: 50%;
 overflow: hidden;
 // min-height: 100%;
 min-width: 300px;
// transition: flex-basis  0ms;

 display: flex;
 flex-flow: column;

 @import './notes/notes.scss';

}

.leftPanel.mobile {
 flex-basis: 100%;
}

.collapse {
  flex-basis: 0;
  //  display:none;
}






